{% extends 'base.html' %}
{% block title %} Lucky Number {% endblock %}
{% block content %}
    <h1>Your Lucky number is:{{lucky_num}}</h1>
    <p>{{msg}}</p>

    {% if lucky_num == 7 %}
        <h2>That is my favorite number</h2>
        <img src="https://media4.giphy.com/media/jW94AWFPAsX7y/giphy.gif?cid=ecf05e47clym26fsyydn9yb7zv67oqzdwdebthpebttaht6s&rid=giphy.gif&ct=g"
            alt="">
    {% else %}
        <h2>That is not my fave number</h2>
        <img src="https://media3.giphy.com/media/R1smhJhlYdtSvvBdxM/giphy.gif?cid=ecf05e47oh818axwfk37tjcyi8tmcg2hn4jsaujyaenr5pzl&rid=giphy.gif&ct=g"
            alt="">
    {% endif %}
{% endblock %}